<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Mail</title>
    <style>
      #mailForm {
        display: flex;
        flex-direction: column;
        width: 20%;
        gap: 10px;
        margin: auto;
      }

      .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    </style>
  </head>
  <body>
    <form id="mailForm">
      <div class="inputContainer">
        <label for="email">Email:</label>
        <input
          type="email"
          placeholder="Enter your email"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="inputContainer">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30"></textarea>
      </div>
      <button type="submit">Send</button>
    </form>

    <script>
      const mailForm = document.getElementById("mailForm");
      const email = document.getElementById("email");
      const message = document.getElementById("message");

      mailForm.addEventListener("submit", async (e) => {
        try {
          e.preventDefault();

          const response = await fetch("/mail", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email: email.value,
              message: message.value,
            }),
          });

          if (response.ok) {
            alert("Email send successfully");
            mailForm.reset();
          } else {
            console.error("Upload failed:", response.statusText);
          }
        } catch (error) {
          console.error("An error occurred:", error);
        }
      });
    </script>
  </body>
</html>
